body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  background-color: rgb(240, 237, 237);
}
.logo {
  padding-left: 21px;
  padding-top: 10px;
  margin: 0px;
}
.content {
  /* background-image: url(./img/try.jpg); */
  background-image: url(./img/bgprofile-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  object-fit: cover;
  background-color: rgb(240, 237, 237);
}
.navbar ul li {
  display: flex;
  margin: 0px;
  text-decoration: none;
  padding-left: 18.5rem;
  font-size: 18px;
  text-indent: 2.5rem;
  color: #17262e;
}

.navbar ul li a {
  color: #17262e;
}

.navbar ul li a {
  text-decoration: none;
}

a:hover,
a:active {
  font-size: 19px;
}

.top {
  display: flex;
}

.cont2 {
  padding-left: 30px;
}

.social {
  padding-left: 19rem;
  padding-top: 15px;
}

.intro,
h2 {
  font-family: "Nunito", sans-serif;
  padding-top: 50px;
  padding-left: 0.7rem;
  color: #17262e;
  font-size: 35px;
}
.frontend p {
  padding-top: 0px;
  padding-left: 1.5rem;
}
.pr,
p {
  padding-left: 1rem;
  text-align: start;
  padding-left: 0.8rem;
  font-size: 5px;
}
.contepart {
  display: flex;
}
.sayhello {
  padding-left: 37rem;

}
.get {
  padding-left: 35rem;
  padding-top: 140px;
  font-size: 20px;
  color: black;
}

.sayhello button {
  font-size: 20px;
  padding: 8px 20px 8px 20px;
  /* color: #17262e; */
  background-color: black;
  border-radius: 5px;
}
.aboutme img {
  border-radius: 30px;
}
button a {
  color: white;
  text-decoration: none;
}
.aboutme1 {
  display: flex;
  background-color: rgb(240, 237, 237);
}
.abt {
  padding-left: 23rem;
  /* padding-top: 15px; */
}
.abtmenu,
nav,
ul,
li {
  gap: 10px;
}
.intod,
p {
  font-size: 30px;
  color: black;
  padding-left: 12px;
}
.intod {
  padding-bottom: 5px;
}
.prof h3 {
  font-family: "Nunito", sans-serif;
  margin: 0px;
  padding-top: 15px;
  font-size: 60px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.placeholder {
  display: flex;
}
.myphoto1 {
  padding-top: 170px;
  padding-right: 35px;
}
.profilecontent {
  background-color: rgb(240, 237, 237);
  font-family: "Nunito", sans-serif;
}
.envy {
  padding: 15px;
}
.myproject {
  background-color: rgb(240, 237, 237);
  min-height: 700px;
  font-family: "Nunito", sans-serif;
}
.tit {
  padding-left: 10px;
  padding-top: 35px;
  color: rgb(10, 10, 78);
  font-size: 30px;
}
.bakery {
  display: flex;
}
.cakewebsite {
  padding-left: 10px;
  padding-top: 15px;
}
.cakewebsite img {
  border-radius: 10px;
}
.sweetitle {
  padding-left: 20px;
}
.sweet {
  padding-top: 23px;
}
.show1 {
  padding-top: 4px;
  padding-left: 130px;
}
.showmore {
  border-radius: 20px;
  background-color: #636e6a;
  font-size: 20px;
  padding: 3px 7px 3px 7px;
  color: white;
}
.showmore1 {
  padding-top: 5px;
}
.showmore1 a {
  color: white;
  margin-right: 9.5rem;
  text-decoration: none;
  padding: 8px 20px 8px 20px;
  background-color: black;
  border-radius: 5px;
}
.firstprojectrow {
  display: flex;
}
.loanapp {
  font-size: 20px;
}
.loanproject {
  display: flex;
}
.aaplynow {
  padding-top: 20px;
  padding-left: 100px;
}
.aaply a {
  padding: 8px 20px 8px 20px;
  background-color: black;
  border-radius: 5px;
  margin-right: 9.5rem;
  color: white;
  text-decoration: none;
}

.flowerlab {
  padding-left: 10px;
  padding-top: 10px;
}
.flowerlab img {
  border-radius: 10px;
}
.lab {
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 30px;
}
.labClass {
  padding-top: 20px;
}
.FlowerLab1 {
  padding-top: 10px;
  padding-left: 130px;
}
.Flowers a {
  padding: 8px 20px 8px 20px;
  background-color: black;
  border-radius: 5px;
  margin-right: 9.5rem;
  color: white;
  text-decoration: none;
}
.OnlineSell {
  padding-top: 20px;
  padding-left: 116px;
}
.OnlineSell1 a {
  padding: 8px 20px 8px 20px;
  background-color: black;
  border-radius: 5px;
  margin-right: 9.5rem;
  color: white;
  text-decoration: none;
}
.secondpart {
  display: flex;
}
.part2 {
  display: flex;
}
.myskills {
  font-family: "Nunito", sans-serif;
}
.EDS {
  display: flex;
}
.envy img {
  padding-top: 80px;
  padding-left: 30px;
}
.EnvyDescription p {
  font-size: 23px;
  padding-left: 45px;
}
.duhamic img {
  padding-top: 20px;
  padding-left: 50px;
}
.DuhamicDesc p {
  font-size: 23px;
  padding-left: 105px;
}
.DuhamicAdri {
  display: flex;
}

.tek img {
  padding-top: 30px;
  padding-left: 50px;
}
.TekDesc p {
  font-size: 23px;
  padding-left: 55px;
  padding-top: 20px;
}
.tekexpert {
  display: flex;
}
.Contacts {
  font-family: "Nunito", sans-serif;
  background-color: rgb(240, 237, 237);
  min-height: 600px;
}
.contactme {
  text-align: center;
}
.contact p {
  padding-top: 20px;
  text-align: center;
}
/* .sayhello {
  padding-top: 10rem;
  padding-left: 38rem;
} */
.getin {
  padding-top: 80px;
  font-size: 39.5px;
}
.footer {
  text-align: center;
  font-size: 15px;
  padding-top: 161px;
}
/* .call{
  display: flex;
} */
.ConnectWithUs{
  padding-top: 60px;
  padding-left: 30px;
  font-size: 20px;
  color: rgb(48, 47, 47);
}
.FoneNumber img{
  /* padding-left: 36rem; */
  padding-top: 45px;
}
/* .MyMail{
  padding-left: 36rem;

} */
.chart{
  padding-left: 36rem;
}
.chart a{
  text-decoration: none;
}
.call{
  padding-left: 30px;  
  padding-bottom: 210px;
}

.cont{
  
background-color: rgb(246, 252, 250);
border-style:none; 
 border-radius: 20px;
 margin-right:540px ;
 margin-left: 525px; 
 border-color: rgb(207, 203, 203);
 border-style: solid;
 
}
.cont img{
  padding-left: 20px;
 
}

.linkdin{
  /* padding-left: 36.1rem; */
  padding-bottom: 45px;
}
.Footers{
  min-height: 50px;
  background-color: #17262e;
  color: white;
  margin-left: 0px;
  text-align: center;


}
